.about {
  margin: 0 auto;
  text-align: center;
  background-color: var(--white);
  max-width: 100vw;
}

.header,
.footer {
  position: relative;
  z-index: 5;
}

.about-main {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
}

#about-span-barkeep-1 {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.5rem;
  color: var(--white);
  text-shadow: 1px 1px var(--darkgray);
}

#about-span-barkeep-2 {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.5rem;
  color: var(--blue);
  text-shadow: 1px 1px var(--darkgray);
}

#about-span-barkeep-3 {
  letter-spacing: 0.35rem;
  color: var(--blue);
  text-shadow: 1px 1px var(--darkgray);
}

.about-video {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  opacity: 0.6;
  overflow: hidden;
}

.about-video-content {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}

@media (max-width: 900px) {
  /* Styles for tablets and phones */
  .about-video {
    position: fixed;
    top: 0;
    left: 0;

    max-width: 100vw;
    min-height: 300vh;
  }

  .about-video-content {
    max-width: 100vw;
    min-height: 100vh;
    height: auto;
    object-fit: fill;
  }
}

#about-cheers-icon {
  font-size: 2rem;
  font-weight: 900;
  color: var(--maroon);
  margin-left: 1rem;
}

.about-summary-container {
  position: relative;
  z-index: 5;
  border-radius: 1rem;
  margin: 2% 7% 2%;
  background-color: transparent;
}

.about-summary-p {
  font-size: 1.35rem;
  font-weight: 700;
  text-shadow: 0.5px 0.5px var(--lightgray);
  margin-top: 1.8rem;
  color: var(--darkgray);
  line-height: 2;
  letter-spacing: 0.25rem;
  padding: 0 1rem;
  z-index: 2;
}

.about-h2 {
  position: relative;
  z-index: 5;
  color: var(--maroon);
  letter-spacing: 0.5rem;
  font-weight: 900;
  text-shadow: 0.5px 0.5px var(--lightgray);
  background-color:  rgb(186, 38, 93, 0.15);
  margin: 0 25%;
  padding: 0.25rem 0;
  border-radius: 1rem;
}

.about-features-container {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.about-features-card {
  min-width: 15rem;
  max-width: 30rem;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid rgb(186, 38, 93, 0.4);;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 5;
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 1rem;
  transition: 0.5s ease;
}

#about-guest {
  color: var(--maroon);
  font-size: 1.25rem;
  font-weight: 900;
  text-transform: uppercase;
}

#about-span-cocktail-recipes {
  color: var(--maroon);
  font-size: 1.25rem;
  font-weight: 900;
  text-transform: uppercase;
}

#about-span-post {
  color: var(--blue);
  font-size: 1.25rem;
  font-weight: 900;
  text-transform: uppercase;
}

.about-features-card:hover {
  box-shadow: 5px 5px 15px var(--maroon);
  transform: scale(1.02);
}

.about-features {
  position: relative;
  width: 70%;
  margin: auto;
  margin-bottom: 1rem;
  background-color: transparent;
  padding: 2rem;
  text-align: left;
  border-radius: 1rem;
  z-index: 2;
}

.about-features-text {
  font-size: 1.15rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 2;
  color: var(--darkgray);
  margin-top: 1rem;
}

.about-cocktail-recipe {
  display: flex;
  justify-content: center;
}

.about-cocktail-card {
  flex-direction: column; /* Stack the cards vertically on smaller screens */
}

.about-cocktail-card-content {
  order: 2; /* Move the image and title below the expanded section on smaller screens */
}

.about-cocktail-card-expanded-content {
  order: 2; /* Move the expanded section above the image and title on smaller screens */
  position: relative; /* Change from absolute to relative positioning */
  width: 100%; /* Set the width to 100% to expand under the card */
  height: 0; /* Set the initial height to 0 */
  opacity: 0; /* Hide the expanded content initially */
  overflow: hidden; /* Hide any content that overflows */
  padding: 0 1rem; /* Add padding to separate the expanded content from the original content */
  transition: height 0.3s, opacity 0.3s; /* Add transitions for smooth expansion */
}

.about-cocktail-card-expanded {
  height: 40rem;
  width: 20rem !important;
}

.about-cocktail-card-expanded .about-cocktail-card-expanded-content {
  height: 20rem; /* Set the height to 20rem to reveal the expanded content */
  opacity: 1; /* Make the expanded content visible */
  padding-top: 1rem;
}

.about-cocktail-card.expanded.expanded-mobile
  .about-cocktail-card-expanded-content {
  margin-top: 1rem; /* Add a margin between the original card and the expanded content */
}

.about-sample-post {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

#about-sample-post-img {
  width: 70%;
}

@media (max-width: 767px) {
  .about-summary-container {
    margin: 5%;
  }
  .about-summary-p {
    font-size: 1rem;
  }
  .about-h2 {
    margin: 0 10%;
  }
  .about-list {
    width: 95%;
  }
  .about-list-item {
    font-size: 1rem;
  }
  .about-cocktail-recipe {
    margin: 0;
    margin-top: 1rem;
  }
  #about-sample-post-img {
    width: 99%;
  }

  #about-span-barkeep-1 {
    font-size: 1.25rem;
  }

  #about-span-barkeep-2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 300px) {
  .about-summary-container {
    margin: 2%;
  }
  .about-summary-p {
    font-size: 0.8rem;
  }
  .about-list {
    width: 98%;
    padding: 3% 8%;
  }
  .about-list-item {
    font-size: 0.8rem;
  }
  .about-cocktail-recipe .card-cocktail {
    margin: 0;
    margin-top: 1rem;
  }
  #about-sample-post-img {
    width: 99%;
  }
}
