:root {
  --blue: steelblue;
  --lightblue: darkcyan;
  --white: #fff;
  --maroon: #ba265d;
  --darkmaroon: #ab154c;
  --darkgray: #333333;
  --lightgray: #ccc;
  --black: #000;
  --yellow: goldenrod;
  --champagne: #f7e7ce;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 100vh;
  background-color: var(--blue);
}

/* Home Page */

.main {
  position: relative;
  flex: 1;
  background-color: var(--maroon);
  color: var(--white);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-headings {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-title {
  font-size: 6rem;
  letter-spacing: 1rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: var(--blue);
  text-align: center;
  text-shadow: 3px 3px 8px var(--darkgray);
}

.home-title:hover {
  transform: skewX(-15deg);
  transition: 0.2s;
}

@keyframes slide-in-left {
  0% {
    opacity: 0;
    transform: translateX(-300%);
  }
  50% {
    opacity: 0.5;
    transform: translateX(0);
  }
  65% {
    opacity: 0.65;
    color: var(--blue);
    transform: translateX(-25%);
  }
  75% {
    opacity: 0.75;
    transform: translateX(0%);
    color: var(--lightblue);
  }
  95% {
    opacity: 0.95;
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    color: var(--white);
    transform: translateX(0);
  }
}

@keyframes slide-in-right {
  0% {
    opacity: 0;
    transform: translateX(300%);
  }
  50% {
    opacity: 0.5;
    color: var(--white);
    transform: translateX(0);
  }
  65% {
    opacity: 0.65;
    transform: translateX(25%);
  }
  75% {
    opacity: 0.75;
    transform: translateX(0);
    color: var(--lightblue);
  }
  95% {
    opacity: 0.95;
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    color: var(--blue);
    transform: translateX(0);
  }
}

.slide-in-left {
  display: inline-block;
  animation: slide-in-left 1s ease forwards;
}

.slide-in-right {
  display: inline-block;
  animation: slide-in-right 1s ease forwards;
}

/* Apply bounce effect to the span elements */
/* .slide-in-left, .slide-in-right {
  animation: bounce 1s ease infinite;
  animation-delay: 1s; 
} */

.home-subtitle {
  font-size: 2rem;
  letter-spacing: 0.4rem;
  color: var(--white);
  text-align: center;
}

.btn-get-started {
  align-self: center;
  width: 10rem;
  z-index: 999;
  box-shadow: 3px 3px 8px var(--darkgray);
  transition: transform 0.5s ease, background-color 0.2s ease;
}

.btn-get-started:hover {
  background-color: var(--lightblue);
  transform: translateY(-3px) scale(1.05);
  cursor: pointer;
  box-shadow: 3px 3px 10px white;
}

.welcome-message {
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
  margin-top: 1rem;
}

.welcome-username {
  color: chartreuse;
  font-weight: 900;
  text-shadow: 3px 3px 8px var(--darkgray);
  letter-spacing: 0.25rem;
}

.home_photo {
  margin-top: 1.5rem;
}

.home_photo_image {
  width: 80%;
  max-width: 100%;
  height: auto;
  border: 5px solid var(--white);
  border-radius: 1%;
}

#home-quote-div {
  margin-top: 2rem;
}

#home-quote-h3 {
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 0.25rem;
}

#home-random-quote {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--white);
  letter-spacing: 0.15rem;
}

.bubbles-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 3;
  display: flex;
  flex-direction: flex-start;
}

@keyframes bubbleAnimation {
  0% {
    transform: translateY(100vh);
    opacity: 0;
  }
  100% {
    transform: translateY(-100vh) translate(calc(var(--randomX) * 100vw));
    opacity: 1;
  }
}

.bubble {
  position: absolute;
  width: var(--randomSize);
  height: var(--randomSize);
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  animation: bubbleAnimation 10s linear infinite;
  top: 100%;
  left: calc(var(--randomX) * 100%);
  z-index: 5;
}

/* Button component */
.btn {
  background-color: var(--blue);
  margin: 0.5rem;
  color: var(--white);
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-shadow: #000 2px 2px 4px;
}

.modal-body {
  background-color: var(--white);
  color: var(--blue);
}

.modal-title {
  background-color: var(--blue);
  color: var(--white);
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  color: var(--white);
  cursor: pointer;
  transition: color 0.3s;
  font-weight: 900;
}

.modal-close-button:hover {
  color: var(--darkgray);
}

@media (max-width: 900px) {
  #home-quote-h3 {
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    font-weight: 700;
  }
  #home-random-quote {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 300;
    margin: auto 1rem;
  }
}

@media (max-width: 767px) {
  .home-headings {
    padding-top: 1.5rem;
  }
  .home-title {
    font-size: 3.5rem;
  }
  .home-subtitle {
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
  }
  .welcome-message {
    font-size: 1.25rem;
    padding: 0 3rem;
  }
  #home-quote-h3 {
    font-size: 1rem;
    letter-spacing: 0.15rem;
  }

  #home-random-quote {
    font-size: 0.9rem;
  }
}

@media (max-width: 300px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .home-title {
    font-size: 3rem;
    letter-spacing: 0.7rem;
  }
  .home-subtitle {
    font-size: 1.15rem;
    letter-spacing: 0.12rem;
  }
  .welcome-message {
    font-size: 0.9rem;
  }
  .welcome-username {
    font-size: 0.9rem;
  }
}


@media (max-width: 1200px) and (orientation: landscape) {
  .home-title {
    font-size: 3.5rem;
  }
  .home-subtitle {
    font-size: 1.75rem;
  }
  .home_photo_image {
    width: 50%;
  }
  #home-quote-div {
    width: 95%;
  }
  #home-quote-h3 {
    font-size: 1.35rem;
  }
  #home-random-quote {
    font-size: 1.1rem;
  }


}

@media (max-width: 1000px) and (orientation: landscape) {
  .home-title {
    font-size: 2.5rem;
    margin: 0.5rem;
  }
  .home-subtitle {
    font-size: 1.5rem;
    margin: 0.5rem;
  }
  .welcome-message {
    margin: 0.5rem;
  }
  .home_photo {
    margin: 0.5rem;
  }
  .home_photo_image {
    width: 35%;
    margin-top: 0;
  }
  #home-quote-div {
    display: none;
  }
}
