/* Login Page */

.login_page {
  text-align: center;
}

.login-main {
  min-height: 80vh;
  padding: 2% 0;
}


.subtitle-login-2 {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
  color: var(--white);
}

.subtitle-2-span {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--yellow);
  letter-spacing: 0.15rem;
  font-weight: 500;
  cursor: pointer;
}

.subtitle-2-span:hover {
  text-transform: lowercase;
  color: var(--blue);
}

.btn-login-buttons {
  box-shadow: 1px 1px var(--darkgray);
}

.btn-login-buttons:hover {
  background-color: var(--maroon);
  color: var(--white);
  transform: scale(1.1);
  transition: 0.3s ease;
}

.how-to {
  padding: 0.5rem;
}

.how-to-heading {
  text-align: center;
  color: var(--white);
}

.how-to-list {
  background-color: var(--blue);
  color: var(--white);
  font-size: 1.1rem;
  list-style: disc;
  line-height: 2;
  margin: auto;
  width: 20rem;
  text-align: left;
  border: 2px var(--lightgray) solid;
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin-top: 1rem;
}

.btn-login.active,
.btn-register.active {
  background-color: var(--yellow);
  color: var(--white);
  transition: transform 0.2s ease;
  transform: scale(1.1);
}

/* Register / Login Forms */

.form-container-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1.25rem;
  width: 60vw;
  margin: auto;
}

.login-signup-button {
  margin-top: 1.25rem;
  box-shadow: 1px 1px var(--darkgray);
}

.form-register,
.form-login {
  width: 20vw;
  padding: 0;
  margin: 0;
}

.login-label {
  margin: 0;
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin-right:  0.5rem;
  color: var(--white);
}

.login-input,
.register-input {
  margin: 1rem auto;
  height: 3rem;
}

.form-group-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group-upload label {
  margin-bottom: 0.5rem; /* Add some space between the label and the widget */
}

.cloudinary-button {
  margin: 0 auto; /* Center the widget within its container */
}

.required-legend {
  margin-top: 1rem;
}

.required {
  color: var(--maroon);
}



@media (max-width: 1023px) {
  .form-login, .form-register {
    width: 40vw;
  }
}

@media (max-width: 767px) {
  .subtitle-login-2 {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  .subtitle-2-span {
    font-size: 1.25rem;
  }
  
  .form-container-login {
    width: 90vw;
  }
  .form-login,
  .form-register {
    width: 80vw;
  }
  .login-signup-button {
    width: 40vw;
    margin: auto;
    margin-top: 2rem;
  }
}

@media (max-width: 300px) {
  
  .subtitle-login-2 {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  .subtitle-2-span {
    font-size: 1.25rem;
  }
  .how-to-list {
    font-size: 0.9rem;
    max-width: 100%;
    padding: 5%;
  }
}
