.search-headings {
  padding: 1rem;
  padding-bottom: 0.5rem;
  background-color: var(--darkgray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-subheadings {
  background-color: var(--darkgray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-title {
  font-size: 6rem;
  font-weight: 900;
  letter-spacing: 1rem;
  margin-bottom: 1rem;
  color: var(--blue);
  text-align: center;
  text-shadow: 2px 2px var(--lightgray);
}

.search-title:hover {
  transform: skewX(-15deg);
  transition: 0.2s;
}

@media (max-width: 900px) {
  .search-title {
    font-size: 3.5rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 767px) {
  .search-headings {
    padding-top: 1.5rem;
  }
}

.search-cocktails {
  background-color: var(--lightgray);
  width: 100%;
}

.search-header-1 {
  font-size: 2rem;
  margin-bottom: 0;
  letter-spacing: 0.4rem;
  color: var(--white);
  text-align: center;
}

#link-opencocktaildb {
  text-decoration: none;
  color: var(--blue);
  cursor: pointer;
  transition: font-size 0.3s ease;
}

#link-opencocktaildb:hover {
  color: var(--lightblue);
  font-size: 2.1rem;
}

.search-header-2 {
  font-size: 1.5rem;
  margin-top: 1rem;
  letter-spacing: 0.4rem;
  color: var(--white);
  text-align: center;
}

.div-search-component {
  text-align: center;
  margin: 1.5rem 0;
  min-height: 70vh;
}

.div-search-btn {
  margin: 0;
  margin-bottom: 0.5rem;
  text-align: center;
}

.searchBy-text {
  color: var(--maroon);
}

.input-search-cocktails {
  margin-left: 1.5rem;
  padding: 0.5rem 1rem;
  height: 2.4rem;
  border: 1px solid var(--lightgray);
  min-width: 14rem;
  border-radius: 15px;
  margin: auto;
  align-self: center;
}

.ingredient-dropdown {
  margin-top: 0.5rem;
  height: 2.4rem;
  width: 15rem;
  padding: 0.4rem;
  border-radius: 1rem;
  border: 1px solid var(--darkgray);
}

.ingredient-dropdown:focus {
  border: var(--blue) solid 1px;
}

.btn-search {
  transition: transform 0.3s;
  font-weight: 700;
  letter-spacing: 0.2rem;
  width: 12rem;
  margin: 1rem;
}

.btn-search:hover {
  background-color: #ff0000;
  font-weight: 700;
  color: var(--lightgray);
  transform: scale(1.1);
}

.btn-search.active {
  background-color: #ff0000;
  font-weight: 700;
  color: var(--white);
  transform: scale(1.1);
  border: 1px solid var(--black);
  box-shadow: 3px 3px 10px var(--darkgray);
}

.button-search-cocktails {
  height: 2rem;
  width: 3rem;
  margin: auto;
  margin-top: -5px;
  margin-left: 5px;
  box-shadow: 2px 2px 3px var(--darkgray);
  padding: 0;
  border-radius: 5px;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.button-search-cocktails:hover {
  background-color: var(--maroon);
  box-shadow: 2px 2px 3px var(--darkgray);
  color: var(--white);
  transform: translateY(-1px) scale(1.05);
  transition: 0.3s ease;
}

.card-container {
  margin-top: 0.75rem;
}

#search-no-results-message {
  font-size: 1rem;
  background-color: red;
  color: var(--white);
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
  
  animation: blink 2s infinite;
}

@keyframes blink {
  0%, 100% {
    color: var(--white);
  }
  50% {
    color: var(--white);
    font-weight: 300;
  }
}

@media (max-width: 900px) {
  .search-header-1 {
    font-size: 1.75rem;
  }
  .search-header-2 {
    font-size: 1.5rem;
  }
  .btn-search {
    margin: 0.75rem;
  }
}

@media (max-width: 767px) {
  .search-title {
    font-size: 3.5rem;
    letter-spacing: 0.9rem;
  }
  .search-header-1 {
    font-size: 1.5rem;
  }
  .search-header-2 {
    font-size: 1.25rem;
  }
  .div-search-btn {
    margin-bottom: 0.75rem;
  }
  .btn-search {
    margin: 0.35rem;
  }
}

@media (max-width: 300px) {
  .search-title {
    font-size: 2.75rem;
    letter-spacing: 0.7rem;
  }
  .search-header-1 {
    font-size: 1.25rem;
  }
  .search-header-2 {
    font-size: 1.25rem;
  }
  .btn-search {
    margin: 0.5rem;
  }
  .searchNameForm {
    margin: 0 1%;
  }
  .input-search-cocktails {
    width: 90vw;
    margin-bottom: 0.75rem;
  }
  .ingredient-dropdown {
    width: 12rem;
  }
}
