.card-cocktail {
  position: relative;
  width: 20rem;
  height: 20rem;
  perspective: 1000px;
  margin: 1rem;
  background-size: cover;
  background-position: center;
  border: solid var(--darkgray) 1px;
  box-shadow: 4px 4px 8px rgba(51, 51, 51, 0.75);
  transition: width 0.3s;
  display: flex;
  transition: transform 0.5s ease;
}

.card-cocktail:hover {
  transform: translateY(-3px) scale(1.05);
}

.card-content {
  flex: 1;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  width: 20rem;
  height: 20rem;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--white);
  padding: 1rem;
  letter-spacing: 0.25rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.card-cocktail-footer {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
}

.btn-seeRecipe {
  background-color: transparent;
  border: none;
  color: var(--white);
  cursor: pointer;
  font-size: 24px;
  margin-right: 8px;
  padding: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.btn-seeRecipe:hover {
  color: chartreuse;
  transform: scale(1.1);
}

.card-cocktail.expanded {
  width: 40rem;
}

.expanded-content {
  position: absolute;
  top: 0;
  /* right: -20rem; Position the expanded section outside the card */
  width: 0; /* Set the initial width of the expanded section */
  height: 100%;
  background-color: var(--darkgray);
  color: white;
  padding: 1rem;
  box-shadow: 4px 0 8px rgba(51, 51, 51, 0.75);
  transition: right 0.3s, width 0.3s;
  font-size: 0.75rem;
  transition: right 0.3s, width 0.3s; /* Adds a transition for the width property to eliminate jumpiness*/
}

.card-cocktail.expanded .expanded-content {
  right: 0; /* Move the expanded section into view */
  width: 20rem; /*  width of the expanded section */
  overflow: auto;
}

.card-h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.card-list,
.card-instructions {
  text-align: left;
}

.card-expanded-footer {
  display: flex;
  justify-content: space-around;
}


@media (max-width: 767px) {
  .card-cocktail {
    flex-direction: column; /* Stack the cards vertically on smaller screens */
  }

  .card-content {
    order: 2; /* Move the image and title below the expanded section on smaller screens */
  }

  .expanded-content {
    order: 2; /* Move the expanded section above the image and title on smaller screens */
    position: relative; /* Change from absolute to relative positioning */
    width: 100%; /* Set the width to 100% to expand under the card */
    height: 0; /* Set the initial height to 0 */
    opacity: 0; /* Hide the expanded content initially */
    overflow: hidden; /* Hide any content that overflows */
    padding: 0 1rem; /* Add padding to separate the expanded content from the original content */
    transition: height 0.3s, opacity 0.3s; /* Add transitions for smooth expansion */
  }

  .card-cocktail.expanded {
    height: 40rem;
    width: 20rem;
  }

  .card-cocktail.expanded .expanded-content {
    height: 20rem; /* Set the height to 20rem to reveal the expanded content */
    opacity: 1; /* Make the expanded content visible */
    padding: 1rem;
  }

  .card-cocktail.expanded.expanded-mobile .expanded-content {
    margin-top: 1rem; /* Add a margin between the original card and the expanded content */
  }
}

@media (max-width: 380px) {

  .card-content {
    max-width: 100%;
    max-height: 100%;
  }

  .expanded-content {
    max-width: 100%;
    max-height: 100%;
  }
  
}
