.header {
  background-color: var(--darkgray);
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.header-user {
  display: inline-flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 1rem;
  margin-left: 1rem;
}

.header-profile-photo {
  position: relative;
}

.header-profile-photo .size-64 {
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
}

.header-username {
  margin: 0;
  font-size: 1.25rem;
  color: var(--white);
}

.header-title {
  font-size: 6rem;
  font-weight: 900;
  letter-spacing: 1rem;
  color: var(--blue);
  text-align: center;
  text-shadow: 2px 2px var(--lightgray);
}

.header-title-left {
  color: var(--white);
  text-shadow: 2px 2px var(--lightgray);
}

.header-title:hover {
  transform: skewX(-15deg);
  transition: 0.2s;
}

.header-subtitle {
  font-size: 2rem;
  letter-spacing: 0.4rem;
  color: var(--white);
  text-align: center;
  margin-top: auto;
}

@media (max-width: 900px) {
  .header-user {
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .header-title {
    margin-top: 1rem;
  }
  .header-subtitle {
    font-size: 1.75rem;
  }
  .user-profile .size-64 {
    width: 3rem;
    height: 3rem;
    margin-right: 0.75rem;
  }
  .header-username {
    font-size: 1.35rem;
  }
}

@media (max-width: 600px) {
  .header-title {
    margin-top: 2rem;
    font-size: 5rem;
  }
}

@media (max-width: 500px) {
  .header-title {
    font-size: 4rem;
  }
  .header-subtitle {
    font-size: 1.5rem;
  }
  .user-profile .size-64 {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.75rem;
  }
  .header-username {
    font-size: 1rem;
  }
}

@media (max-width: 420px) {
  .header-user {
    margin-top: 0.5rem;
    margin-left: 0;
   
  }
  .header-username {
    font-size: 0.75rem;
  }
  .header-user .size-64 {
    width: 2rem;
    height: 2rem;
  }
  .header-user .edit-photo-icon {
    width: 0.75rem !important;
    height: 0.75rem !important;
    padding-left: 0.5rem;
    padding-top: 0.4rem;
  }
  .header-user .edit-photo-icon-pencil {
    width: 0.75rem !important;
    height: 0.75rem !important;
  }
  .header-title {
    font-size: 3rem;
    margin-top: 1rem;
  }
}

@media (max-width: 300px) {
  .header-title {
    font-size: 2.1rem;
  }
  .header-subtitle {
    font-size: 1rem;
  }
}
