/* PostForm */

.form-post-container {
    width: 100%;
    margin: 0 auto;
    padding: 1.2rem;
    overflow: auto;
  }
  
  .form-post-container form {
    display: flex;
    flex-direction: column;
  }
  
  .form-post-container label {
    margin-top: .6rem;
    font-weight: bold;
  }
  
  .form-post-input {
    padding: .5rem;
    margin-top: .3rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }

  #input-content {
    height: 10rem;
    margin-bottom: 1rem;
  }

  #input-imageURL {
    margin-bottom: 1rem;
  }
  
  .post-submit-button {
    padding: .6rem 1.2rem;
    margin: auto;
    margin-top: 1rem;
    background-color: var(--blue);
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    box-shadow: 2px 2px 2px var(--darkgray);
    transition: transform 0.3s ease;
    width: 50vw;
  }
  
  .post-submit-button:hover {
    transform: translateY(-2px) scale(1.01);
  }

  @media (max-width: 900px) {
    .post-submit-button {
      width: 35vw;
    }
  }

  @media (max-width: 767px) {
    .post-submit-button {
      width: 45vw;
    }
  }

  @media (max-width: 400px) {
    .post-submit-button {
      width: 70vw;
    }
  }
  
