.post-comments-modal {
  padding: 0.75rem;
  background-color: var(--darkgray);
  max-height: 90vh;
  overflow-y: scroll;
}

.post-comments-modal-header {
  background-color: var(--blue);
}

.post-comments-modal-title {
  background-color: var(--blue);
}

.post-comments-modal-btn-close {
  font-size: 0.9rem;
  font-weight: 900;
  background-color: var(--lightgray);
  color: var(--blue);
  border-radius: 50%;
  text-align: center;
  padding: 0 0.4rem;
}



.post-comments-modal-ul {
  list-style: none;
  padding: 1rem;
  width: 50%;
  margin: auto;
}

.post-comments-modal-li {
  list-style: none;
  margin: 0.5rem;
  background-color: var(--white);
  color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 10px;
  padding: 0.75rem;
  padding-bottom: 0.25rem;
}

.post-comments-modal-p {
  margin-top: 0.75rem;
  padding: 0.25rem 1rem;
  background-color: var(--white);
  color: var(--blue);
  border-radius: 10px;
}

.post-comments-modal-footer {
  background-color: var(--white);
  color: var(--white);
}

.comment-input-container {
  padding: 1rem;
  background-color: var(--lightgray);
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.comment-text-input {
  min-width: 12.5rem;
  border: 1px solid var(--darkgray);
  border-radius: 1rem;
  padding: 0.5rem;
}

.btn-submit-comment {
  max-width: 5rem;
  font-size: 0.7rem;
}

@media (max-width: 900px) {
  .modal-content {
    min-width: 85vw;
  }
  .post-comments-modal-ul {
    width: 85%;
  }
}

@media (max-width: 767px) {
  .modal-content {
    min-width: 95vw;
  }
}

@media (max-width: 400px) {
  .post-comments-modal-ul {
    width: 100%;
  }
  .post-comments-modal-ul {
    font-size: 0.8rem;
  }
}
