.shimmer-loader {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  padding: 20vw;
}

.shimmer-line {
  width: 100%;
  height: 20px;
  background: linear-gradient(to right, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
