/* CocktailForm */

.form-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container label {
  margin-top: 10px;
  font-weight: bold;
}

.form-container input,
.form-container textarea {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cocktail-form-button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: var(--blue);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cocktail-form-button:hover {
  background-color: #0056b3;
}

.form-container .ingredient-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-container .ingredient-inputs input {
  width: 75%;
}

.form-container .ingredient-inputs .quantity-input {
  width: 25%;
  margin-right: 5px;
}

.form-container .ingredient-inputs button {
  margin-left: 10px;
}

.form-container .tag-inputs {
  display: flex;
  align-items: center;
}

.form-container .tag-inputs input {
  margin-right: 10px;
}

.form-container .tag-inputs button {
  margin-left: 10px;
}
