/* CocktailForm */

.form-container {
  min-width: 50vw;
  margin: 0 auto;
  padding: 1.2rem;
  min-height: 80vh;
  overflow: auto;
}

.form-container form {
  display: flex;
  flex-direction: column;
  max-width: 31.25rem;
}

.form-container label {
  margin-top: .6rem;
  font-weight: bold;
}

.form-container input,
.form-container textarea {
  padding: .5rem;
  margin-top: .3rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cocktail-form-button {
  padding: .6rem 1.2rem;
  margin-top: .6rem;
  background-color: var(--blue);
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.cocktail-form-button:hover {
  background-color: #0056b3;
}

.form-container .ingredient-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-container .ingredient-inputs input {
  width: 75%;
}

.form-container .ingredient-inputs .quantity-input {
  width: 25%;
  margin-right: .3rem;
}

.form-container .ingredient-inputs button {
  margin-left: .6rem;
}

.form-container .tag-inputs {
  display: flex;
  align-items: center;
}

.form-container .tag-inputs input {
  margin-right: .6rem;
}

.form-container .tag-inputs button {
  margin-left: .6rem;
}

.add-ingredient-button, 
.add-tag-button {
  margin-top: 0.6rem;
}

#instructions {
  min-height: 5rem !important;
}
