.feed {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--darkgray);
  color: var(--blue);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.headings {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 6rem;
  letter-spacing: 1rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: var(--blue);
  text-align: center;
  text-shadow: 3px 3px 8px var(--darkgray);
}

.title:hover {
  transform: skewX(-15deg);
  transition: 0.2s;
}

.subtitle {
  font-size: 2rem;
  letter-spacing: 0.4rem;
  margin-bottom: 2rem;
  color: var(--blue);
  text-align: center;
  margin-top: auto;
}

.btn-view {
  width: 15rem;
  align-self: center;
}

.btn-view.active {
  background-color: var(--maroon);
  color: var(--white);
  transform: scale(1.15);
  margin: 1rem;
  transition: 0.3s;
}

.btn-view:hover {
  background-color: var(--maroon);
  color: var(--white);
}


.btn-add-post {
  width: 15rem;
  align-self: center;
}

.btn-add-post:hover {
  transform: scale(1.1);
  background-color: var(--yellow);
  transition: 0.2s;
  color: var(--white);
}

.posts-container {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}


.post-card {
  margin: 1rem;
  background-color: var(--blue);
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-image {
  position: relative;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  overflow: hidden;
}

.post-title {
  font-size: 1.5rem;
  font-weight: 900;
  margin: 1rem;
  color: var(--white);
  text-shadow: 3px 3px 10px black;
}

.post-content {
  margin: 1rem;
  color: var(--white);
  font-size: 1rem;
  text-shadow: 3px 3px 10px black;
}

.post-author {
  margin: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  text-shadow: 3px 3px 3px var(--darkgray);
}

.posts_error {
  margin-top: 20px;
  font-size: 18px;
  color: var(--blue);
}

@media (max-width: 768px) {
  .post-card {
    width: 100%;
    padding: 10px;
  }

  .post-image {
    height: 200px;
  }
}
