:root {
  --blue: steelblue;
  --lightblue: darkcyan;
  --white: #fff;
  --maroon: #ba265d;
  --darkgray: #333333;
  --lightgray: #ccc;
  --black: #000;
  --yellow: goldenrod;
  --champagne: #f7e7ce;
}

#root {
  display: flex;
  max-width: 120rem;
  background-color: var(--blue);
  min-height: 100vh;
}

/* Navigation Sidebar */
.navigation {
  font-size: 1.4rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar {
  background-color: var(--blue);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
}

.sidebar.expanded {
  transform: translateX(0);
}

.hamburger-menu {
  display: none;
}

.menu-toggle {
  display: block;
  background: none;
  border: none;
  padding: 1rem;
  cursor: pointer;
}

.hamburger {
  display: block;
  width: 25px;
  height: 3px;
  background-color: var(--white);
  margin: 5px 0;
  transition: transform 0.3s ease-in-out;
}

.hamburger.expanded .hamburger-1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.expanded .hamburger-2 {
  opacity: 0;
}

.hamburger.expanded .hamburger-3 {
  transform: rotate(-45deg) translate(5px, -5px);
}

.navigation_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation_item {
  text-decoration: none;
  margin: 2rem 0;
  padding-left: 2rem;
  padding-right: 2rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  position: relative;
}

.navigation_item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--blue);
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
    background-color 0.1s;
}

.navigation_item:hover::before,
.navigation_item--active::before {
  background-color: var(--white);
  color: var(--darkgray);
  transform: scaleY(1);
  width: 100%;
}

.navigation_link {
  text-decoration: none;
  padding: 1rem 0;
  z-index: 10;
  color: var(--white);
  transition: color 0.2s;
  position: relative
}

.navigation_link:hover,
.navigation_link:active,
.navigation_link:focus,
.navigation_link:active,
.navigation_item:active {
  color: var(--darkgray);
}

@media (max-width: 767px) {
  .sidebar {
    display: none;
  }

  .hamburger-menu {
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 100;
  }

  .navigation_list {
    padding-top: 4rem;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--blue);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 99;
  }

  .navigation.expanded .navigation_list {
    transform: translateX(0);
  }

  .navigation_item {
    padding-left: 0;
    margin: 1rem 0;
    text-align: center;
  }

  .navigation_item::before {
    left: 0;
    transform-origin: left;
  }

  .navigation_item--active .navigation_link {
    color: var(--darkgray);
  }
}


/* Home Page */

.main {
  position: relative;
  flex: 1;
  background-color: var(--maroon);
  color: var(--white);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headings {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 6rem;
  letter-spacing: 1rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: var(--white);
  text-align: center;
  text-shadow: 3px 3px 8px var(--blue);
}

.title:hover {
  transform: skewX(-15deg);
  transition: 0.2s;
}

.subtitle {
  font-size: 2rem;
  letter-spacing: 0.4rem;
  margin-bottom: 4rem;
  color: var(--white);
  text-align: center;
  margin-top: auto;
}

.home_photo {
  margin-top: auto;
}

.home_photo_image {
  width: 80%;
  max-width: 100%;
  height: auto;
  border: 5px solid var(--white);
  border-radius: 1%;
}

.bubbles-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 3;
  display: flex;
  flex-direction: flex-start;
}

@keyframes bubbleAnimation {
  0% {
    transform: translateY(100vh);
    opacity: 0;
  }
  100% {
    transform: translateY(-100vh) translate(calc(var(--randomX) * 100vw));
    opacity: 1;
  }
}

.bubble {
  position: absolute;
  width: var(--randomSize);
  height: var(--randomSize);
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  animation: bubbleAnimation 10s linear infinite;
  top: 100%;
  left: calc(var(--randomX) * 100%);
  z-index: 5;
}

/* Cocktails Page */

.cocktails-main {
  flex: 1;
  color: var(--white);
  text-align: center;
  background-color: var(--lightgray);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: center;
}

/* Login Page */

.login_page {
  flex: 1;
  color: var(--white);
  text-align: center;
  background-color: var(--yellow);
}

/* Button component */
.btn {
  background-color: var(--blue);
  margin: 0.5rem;
  color: var(--white);
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-shadow: #000 2px 2px 4px;
}

.add_cocktail_button:hover,
.search_cocktail_button:hover {
  background-color: var(--yellow);
}

/* Register / Login Forms */

.form_container {
  display: flex;
  justify-content: center;
  padding: 2rem;
  height: 25vh; /* Optional: Adjust the height as needed */
}

.login_signup_button {
  margin-top: 1.25rem;
}

.form_register,
.form_login {
  width: 25vw;
}

.login-label {
  margin: 0.25rem;
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.login-input {
  margin: 1rem;
  height: 3rem;
}

.subtitle-2 {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

.subtitle-2-span {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--maroon);
  cursor: pointer;
}

.subtitle-2-span:hover {
  text-transform: lowercase;
  color: var(--blue);
}

.searchCocktails {
  background-color: var(--lightgray);
  width: 100%;
}

.search-header {
  font-size: 2rem;
  letter-spacing: 0.4rem;
  color: var(--white);
  text-align: center;
}

.div-search-component {
  text-align: center;
  margin: 1.5rem 0;
}

.div-search-btn {
  margin: 0;
  text-align: center;
}

.searchBy-text {
  color: var(--maroon);
}

.input_search_cocktails {
  margin-left: 1.5rem;
  padding: 0.4rem;
  height: 2.4rem;
}

.ingredient_dropdown {
  margin-left: 1.5rem;
  margin-top: 0.5rem;
  height: 2.4rem;
  width: 11.5rem;
  padding: 0.4rem;
}

.btn-search {
  transition: transform 0.3s;
  font-weight: 700;
  letter-spacing: 0.2rem;
  width: 12rem;
  margin: 1rem;
}

.btn-search:hover {
  background-color: #ff0000;
  font-weight: 700;
  color: var(--lightgray);
  transform: scale(1.1);
}

.btn-search.active {
  background-color: #ff0000;
  font-weight: 700;
  color: var(--white);
  transform: scale(1.1);
  border: 1px solid var(--black);
  box-shadow: 3px 3px 10px var(--darkgray);
}

.button_search_cocktails {
  height: 2.38rem;
  width: 3rem;
  margin: 0;
  margin-top: -3px;
  margin-left: -2px;
  padding: 0;
  border-radius: 0;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.modal-body {
  background-color: var(--white);
  color: var(--blue);
}

.modal-title {
  background-color: var(--blue);
  color: var(--white);
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  color: var(--white);
  cursor: pointer;
  transition: color 0.3s;
  font-weight: 900;
}

.modal-close-button:hover {
  color: var(--darkgray);
}
