:root {
  --blue: steelblue;
  --lightblue: darkcyan;
  --white: #fff;
  --maroon: #ba265d;
  --darkgray: #333333;
  --lightgray: #ccc;
  --black: #000;
  --yellow: goldenrod;
  --champagne: #f7e7ce;
}

#root {
  display: flex;
  justify-content: flex-end;
  background-color: var(--blue);
  min-height: 100vh;
}

/* Home Page */

.main {
  position: relative;
  flex: 1;
  background-color: var(--maroon);
  color: var(--white);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headings {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 6rem;
  letter-spacing: 1rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: var(--white);
  text-align: center;
  text-shadow: 3px 3px 8px var(--blue);
}

.title:hover {
  transform: skewX(-15deg);
  transition: 0.2s;
}

.subtitle {
  font-size: 2rem;
  letter-spacing: 0.4rem;
  margin-bottom: 4rem;
  color: var(--white);
  text-align: center;
  margin-top: auto;
}

@media (max-width: 767px) {
  .title {
    font-size: 3.5rem;
  }
  .subtitle {
    font-size: 1.5rem;
  }
}

.home_photo {
  margin-top: auto;
}

.home_photo_image {
  width: 80%;
  max-width: 100%;
  height: auto;
  border: 5px solid var(--white);
  border-radius: 1%;
}

.bubbles-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 3;
  display: flex;
  flex-direction: flex-start;
}

@keyframes bubbleAnimation {
  0% {
    transform: translateY(100vh);
    opacity: 0;
  }
  100% {
    transform: translateY(-100vh) translate(calc(var(--randomX) * 100vw));
    opacity: 1;
  }
}

.bubble {
  position: absolute;
  width: var(--randomSize);
  height: var(--randomSize);
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  animation: bubbleAnimation 10s linear infinite;
  top: 100%;
  left: calc(var(--randomX) * 100%);
  z-index: 5;
}

/* Cocktails Page */

.cocktails-main {
  flex: 1;
  color: var(--white);
  text-align: center;
  background-color: var(--lightgray);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: center;
}

/* Login Page */

.login_page {
  flex: 1;
  color: var(--white);
  text-align: center;
  background-color: var(--yellow);
}

/* Button component */
.btn {
  background-color: var(--blue);
  margin: 0.5rem;
  color: var(--white);
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-shadow: #000 2px 2px 4px;
}

.add_cocktail_button:hover,
.search_cocktail_button:hover {
  background-color: var(--yellow);
}

/* Register / Login Forms */

.form_container {
  display: flex;
  justify-content: center;
  padding: 2rem;
  height: 25vh; 
}

.login_signup_button {
  margin-top: 1.25rem;
}

.form_register,
.form_login {
  width: 25vw;
}

.login-label {
  margin: 0.25rem;
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.login-input {
  margin: 1rem;
  height: 3rem;
}

.subtitle-2 {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

.subtitle-2-span {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--maroon);
  cursor: pointer;
}

.subtitle-2-span:hover {
  text-transform: lowercase;
  color: var(--blue);
}

.searchCocktails {
  background-color: var(--lightgray);
  width: 100%;
}

.search-header {
  font-size: 2rem;
  letter-spacing: 0.4rem;
  color: var(--white);
  text-align: center;
}

.div-search-component {
  text-align: center;
  margin: 1.5rem 0;
}

.div-search-btn {
  margin: 0;
  text-align: center;
}

.searchBy-text {
  color: var(--maroon);
}

.input_search_cocktails {
  margin-left: 1.5rem;
  padding: 0.4rem;
  height: 2.4rem;
}

.ingredient_dropdown {
  margin-left: 1.5rem;
  margin-top: 0.5rem;
  height: 2.4rem;
  width: 11.5rem;
  padding: 0.4rem;
}

.btn-search {
  transition: transform 0.3s;
  font-weight: 700;
  letter-spacing: 0.2rem;
  width: 12rem;
  margin: 1rem;
}

.btn-search:hover {
  background-color: #ff0000;
  font-weight: 700;
  color: var(--lightgray);
  transform: scale(1.1);
}

.btn-search.active {
  background-color: #ff0000;
  font-weight: 700;
  color: var(--white);
  transform: scale(1.1);
  border: 1px solid var(--black);
  box-shadow: 3px 3px 10px var(--darkgray);
}

.button_search_cocktails {
  height: 2.38rem;
  width: 3rem;
  margin: 0;
  margin-top: -3px;
  margin-left: -2px;
  padding: 0;
  border-radius: 0;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.modal-body {
  background-color: var(--white);
  color: var(--blue);
}

.modal-title {
  background-color: var(--blue);
  color: var(--white);
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  color: var(--white);
  cursor: pointer;
  transition: color 0.3s;
  font-weight: 900;
}

.modal-close-button:hover {
  color: var(--darkgray);
}
