.post-likes-modal {
    padding: 0.75rem;
    background-color: var(--darkgray);
  }

.post-likes-modal-header {
  background-color: var(--blue);
}

.post-likes-modal-title {
  background-color: var(--blue);
}

.post-likes-modal-btn-close {
  font-size: 0.9rem;
  font-weight: 900;
  background-color: var(--lightgray);
  color: var(--blue);
  border-radius: 50%;
  text-align: center;
  padding: 0 0.4rem;
}

.post-likes-modal-subtitle {
  background-color: var(--blue);
  color: var(--white);
  padding: 1rem;
}

.post-likes-modal-ul {
  list-style: none;
  padding: 1rem;
}

.post-likes-modal-li {
  list-style: none;
  margin: 0.5rem;
}

.post-likes-modal-footer {
  background-color: var(--darkgray);
  color: var(--white);
}
